<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', '#' %></li>
          <li><%= link_to 'Contact', '#' %></li>
        </ul>
        <h3 class="text-muted">Twitter Client</h3>
      </div>

      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>

      <div class="footer">
        <p>© Company 2013</p>
      </div>

      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</body>
</html>
